
footer {
  bottom: 0;
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: $Blue;
  color: $White;
  border-top: 2px solid #fff;
  padding: 2px 20px;

  .footer__link {
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $White;
    margin-bottom: 0.1rem;
    transition: all 0.3s;

    &:hover {
      color: $HoverLink;
      transform: scale(0.95);
    }
  }

  .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo__date {
      font-size: 1.5rem;
      margin-right: 1rem;
      cursor: default;
    }

    .logo__img {
      width: 3rem;
    }
  }
}

@media (max-width: $width-landscape-phones) {
  footer {
    flex-direction: column;
    justify-content: space-between;
  }
}
