@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

$SerifPro: 'Source Serif Pro', serif;

$Blue: rgb(31, 68, 128);
$White: rgb(253, 252, 253);
$HoverLink: rgb(206, 192, 192);

$Box-shadow:inset -1px 3px 25px 1px #000, 0 0 1px 0 #fff, 5px 5px 15px 5px transparent;
$Border-radius: 0;
